<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header.ejs %>
    <meta charset="utf-8">
    <style>
    body {
      background-image: url(https://cdn.wallpapersafari.com/89/69/cwutV0.jpg);
      background-size: cover;
    }
    </style>
  </head>

  <body>
    <% include ../partials/nav.ejs %>
    <h2>Arash's Page</h2>
  </body>

</html>
