<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header.ejs %>
    <meta charset="utf-8">
  </head>
  <body>
<<<<<<< HEAD
    <% include ../partials/nav.ejs %>
=======
>>>>>>> e09b1af234c68c9ec9d3262c5f4b526ad53a7d4c
    <<h1>Arash's Page</h1>
  </body>
</html>
