<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header.ejs %>
    <meta charset="utf-8">
    <style>
    body {background-image: url(https://i.redd.it/j6ig4z0pnlv31.png);
    }
    </style>
  </head>

  <body>
    <% include ../partials/nav.ejs %>
    <h2>Arash's Page</h2>
  </body>

</html>
