<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header.ejs %>
    <meta charset="utf-8">
    <style>
    body {
      background-image: url(https://i.redd.it/j6ig4z0pnlv31.png);
      background-size: cover;
    }
    </style>
  </head>

  <body>
    <% include ../partials/nav.ejs %>
    <img src="https://www.gifservice.fr/en/gif/transport-cars-arash-logo-g169-p1921-flarge.gif" class = "center"/>
  </body>

</html>
