<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">

    <!-- page title -->
    <div style="text-align: center">
      <h1>Stock Finder</h1>
    </div>

    <style>

    /* page background */
    body {
      /*background-color: lightgrey*/
      background-image: url(https://www.bioworld.com/ext/resources/Stock-images/Money/stock-prices-up.png?1588794938);
      color: white;
      font-family: Georgia;
    }

    /* center aligning everything for the object */
    .center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /* center aligning text */
    .text-center {
  	   text-align: center;
    }

    /* creating a slider class, need to center*/
    .rangeslider {
      text-align: center;
    }

    /* appearance of slider bar */
    .pagesliders {
      -webkit-appearance: none;
      background: #3484F0;
      width: 50%;
      height: 20px;
      opacity: 2;
    }

    /* appearance of the slider thumb thing */
    .pagesliders::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      background: white;
      width: 5%;
      height: 20px;
    }
    /*appearance of the text boxes that comput prints to*/
    .textbox {
      width: 25px;
      height: 15px;
    }

    .API {
      display:inline-block;
      width: 24%;
    }
    </style>

  </head>

  <body>

    <!-- adding compute button -->
    <div class = "text-center">
      <button type="button" onclick="slider1Function(); slider2Function()">Compute</button>
    </div>


    <!-- putting slider on the page -->
    <div class="rangeslider">
      <div>
      <input type="range" min="0" max="100" value ="50" class="pagesliders" id="sliderRange1">
      <span>Value: <span id="value1"></span></span>
      </div>
      <input type="text" id="firstVal" style="text-align:center" class = "textbox"><br>
    </div>

    <!-- putting another slider -->
    <div class="rangeslider">
      <div>
      <input type="range" min="0" max="100" value ="50" class="pagesliders" id="sliderRange2">
      <span>Value: <span id="value2"></span></span>
      </div>
      <input type="text" id="secondVal" style="text-align:center" class = "textbox"><br>
    </div>

    <!-- API calls -->
    <div class = "API">
      <font face="Courier New">
      <div>
      <table border="5">
        <tr>
          <th colspan="5">
            <h3><br>Walmart Stock Data</h3>
          </th>
        </tr>

        <th>WMT Open</th>
        <th>WMT High</th>
        <th>WMT Low</th>
        <th>WMT Current</th>
        <th>WMT Previous Close</th>

        <tr>
          <td><div id="WMTOpen"></div></td>
          <td><div id="WMTHigh"></div></td>
          <td><div id="WMTLow"></div></td>
          <td><div id="WMTCurrent"></div></td>
          <td><div id="WMTPrevClose"></div></td>
        </tr>
      </table>
      </div>
    </font>
    </div>

    <!-- Yusuf's API call for AMZN data in a table -->
    <div class="API">
    <font face="Courier New">
      <table border="5">
        <tr>
          <th colspan="5">
            <h3><br>Amazon Stock Data</h3>
          </th>
        </tr>

        <th>AMZN Open</th>
        <th>AMZN High</th>
        <th>AMZN Low</th>
        <th>AMZN Current</th>
        <th>AMZN Previous Close</th>

        <tr>
          <td><div id="AMZNOpen"></div></td>
          <td><div id="AMZNHigh"></div></td>
          <td><div id="AMZNLow"></div></td>
          <td><div id="AMZNCurrent"></div></td>
          <td><div id="AMZNPrevClose"></div></td>
        </tr>
      </table>
    </font>
    </div>

    <div class="API">
    <font face="Courier New">
      <table border="5">
        <tr>
          <th colspan="5">
            <h3><br>Google Stock Data</h3>
          </th>
        </tr>

        <th>GOOGL Open</th>
        <th>GOOGL High</th>
        <th>GOOGL Low</th>
        <th>GOOGL Current</th>
        <th>GOOGL Previous Close</th>

        <tr>
          <td><div id="GOOGLOpen"></div></td>
          <td><div id="GOOGLHigh"></div></td>
          <td><div id="GOOGLLow"></div></td>
          <td><div id="GOOGLCurrent"></div></td>
          <td><div id="GOOGLPrevClose"></div></td>
        </tr>
      </table>
    </font>
    </div>

    <!-- Zoe's API call for AAPL data in a table -->
    <div class="API">
    <font face="Courier New">
      <table border="5">
        <tr>
          <th colspan="5">
            <h3><br>Apple Stock Data</h3>
          </th>
        </tr>

        <th>AAPL Open</th>
        <th>AAPL High</th>
        <th>AAPL Low</th>
        <th>AAPL Current</th>
        <th>AAPL Previous Close</th>

        <tr>
          <td><div id="AAPLOpen"></div></td>
          <td><div id="AAPLHigh"></div></td>
          <td><div id="AAPLLow"></div></td>
          <td><div id="AAPLCurrent"></div></td>
          <td><div id="AAPLPrevClose"></div></td>
        </tr>
      </table>
    </font>
    </div>

    <div class="text-center">
      Top Market News Headline: <span id="NewsHeadline" style="color:yellow"></span>
    </div>

    <hr>
    <div style="text-align:center">
      <!--p style="font-family:Arial; color:blue"> Your random cat picture: </p-->
      <img id="cat" src="" alt="Cat Picture" style="width:25%"></img>
    </div>





    <!-- SCRIPTS IN PYTHON (I THINK) -->
    <!-- Wait, we can have scripts in python?-->
    <!-- script to display value of sliders underneath -->
    <script>
    var rangeslider1 = document.getElementById("sliderRange1");
    var output1 = document.getElementById("value1");
    output1.innerHTML = rangeslider1.value;

    rangeslider1.oninput = function() {
      output1.innerHTML = this.value;
    }
    </script>
    <script>
    var rangeslider2 = document.getElementById("sliderRange2");
    var output2 = document.getElementById("value2");
    output2.innerHTML = rangeslider2.value;

    rangeslider2.oninput = function() {
      output2.innerHTML = this.value;
    }
    </script>

    <!--- the functions for print out slider values to text boxes-->
    <script>
    function slider1Function() {
      document.getElementById("firstVal").value = document.getElementById("sliderRange1").value;
    }
    </script>
    <script>
    function slider2Function() {
      document.getElementById("secondVal").value = document.getElementById("sliderRange2").value;
    }
    </script>


    <!-- API pull code -->
    <script>

      // Arash's Walmart API pulls
      fetch("https://finnhub.io/api/v1/quote?symbol=WMT&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        var open = data.o;
        var high = data.h;
        var low = data.l;
        var curr = data.c;
        var pc = data.pc;
        document.getElementById("WMTOpen").innerHTML = open;
        document.getElementById("WMTHigh").innerHTML = high;
        document.getElementById("WMTLow").innerHTML = low;
        document.getElementById("WMTCurrent").innerHTML = curr;
        document.getElementById("WMTPrevClose").innerHTML = pc;
      })


      // Yusuf's AMZN API pulls
      fetch("https://finnhub.io/api/v1/quote?symbol=AMZN&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("AMZNOpen").innerHTML = data.o;
        document.getElementById("AMZNHigh").innerHTML = data.h;
        document.getElementById("AMZNLow").innerHTML = data.l;
        document.getElementById("AMZNCurrent").innerHTML = data.c;
        document.getElementById("AMZNPrevClose").innerHTML = data.pc;
      })


      // Hongze's GOOGL API pulls
      fetch("https://finnhub.io/api/v1/quote?symbol=GOOGL&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("GOOGLOpen").innerHTML = data.o;
        document.getElementById("GOOGLHigh").innerHTML = data.h;
        document.getElementById("GOOGLLow").innerHTML = data.l;
        document.getElementById("GOOGLCurrent").innerHTML = data.c;
        document.getElementById("GOOGLPrevClose").innerHTML = data.pc;
      })

      // Zoe's AAPL API pulls
      fetch("https://finnhub.io/api/v1/quote?symbol=AAPL&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("AAPLOpen").innerHTML = data.o;
        document.getElementById("AAPLHigh").innerHTML = data.h;
        document.getElementById("AAPLLow").innerHTML = data.l;
        document.getElementById("AAPLCurrent").innerHTML = data.c;
        document.getElementById("AAPLPrevClose").innerHTML = data.pc;
      })

      // Zoe's Headline code
      fetch("https://finnhub.io/api/v1/news?category=general&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("NewsHeadline").innerHTML = data[0].headline;
      }, r => {document.getElementById("NewsHeadline").innerHTML = "API fetch failed"})


      // Hongze's cat API
      fetch("https://aws.random.cat/meow").then(
        r => r.json()).then(r => {document.getElementById("cat").src = r.file})//{document.getElementById("numFact").innerHTML = r})

    </script>

 </body>

</html>
