<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">

    <!-- page title -->
    <div style="text-align: center">
      <h1>Stock Finder</h1>
    </div>

    <style>

    /* page background */
    body {
      background-color: lightgrey
    }

    /* center aligning the header */
    .text-center {
  	   text-align: center;
    }

    /* creating a slider class, need to center*/
    .rangeslider {
      text-align: center;
    }

    /* appearance of slider bar */
    .pagesliders {
      -webkit-appearance: none;
      background: black;
      width: 50%;
      height: 20px;
      opacity: 2;
    }

    /* appearance of the slider thumb thing */
    .pagesliders::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      background: white;
      width: 5%;
      height: 20px;
    }
    /*appearance of the text boxes that comput prints to*/
    .textbox {
      width: 25px;
      height: 15px;
    }

    </style>

  </head>

  <body>

    <!-- adding compute button -->
    <div class = "text-center">
      <button type="button" onclick="slider1Function(); slider2Function()">Compute</button>
    </div>


    <!-- putting slider on the page -->
    <div class="rangeslider">
      <div>
      <input type="range" min="0" max="100" value ="50" class="pagesliders" id="sliderRange1">
      <p>Value: <span id="value1"></span></p>
      </div>
      <input type="text" id="firstVal" style="text-align:center" class = "textbox"><br>
    </div>

    <!-- putting another slider -->
    <div class="rangeslider">
      <div>
      <input type="range" min="0" max="100" value ="50" class="pagesliders" id="sliderRange2">
      <p>Value: <span id="value2"></span></p>
      </div>
      <input type="text" id="secondVal" style="text-align:center" class = "textbox"><br>
    </div>

    <div class="text-center">
      <div id="appleFinancials"></div>
    </div>
  <!-- script to display value of slider underneath -->
    <script>
    var rangeslider1 = document.getElementById("sliderRange1");
    var output1 = document.getElementById("value1");
    output1.innerHTML = rangeslider1.value;

    rangeslider1.oninput = function() {
      output1.innerHTML = this.value;
    }
    </script>

    <!-- second slider display value -->
    <script>
    var rangeslider2 = document.getElementById("sliderRange2");
    var output2 = document.getElementById("value2");
    output2.innerHTML = rangeslider2.value;

    rangeslider2.oninput = function() {
      output2.innerHTML = this.value;
    }
    </script>

    <!--- the functions for print out slider values to text boxes-->
    <script>
    function slider1Function() {
      document.getElementById("firstVal").value = document.getElementById("sliderRange1").value;
    }
    </script>

    <script>
    function slider2Function() {
      document.getElementById("secondVal").value = document.getElementById("sliderRange2").value;
    }
    </script>

    <script>
      fetch('https://finnhub.io/api/v1/quote?symbol=AAPL&token=btnr6jn48v6p0j27hpd0')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
      function appendData(data) {
        var mainContainer = document.getElementById("appleFinancials");
        for (var i = 0; i < data.length; i++) {
                var div = document.createElement("div");
                div.innerHTML = data[i];
                mainContainer.appendChild(div);
            }
      }
    </script>
 </body>

</html>
