<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div text-align: center;>
      <button type="button">Compute</button>
    </div>
  </body>
</html>
