<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">

    <!-- page title -->
    <div style="text-align: center">
      <h1>Stock Finder</h1>
    </div>

    <style>

    /* page background */
    body {
      background-color: lightgrey
    }

    /* center aligning everything for the object */
    .center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /* center aligning text */
    .text-center {
  	   text-align: center;
    }

    /* creating a slider class, need to center*/
    .rangeslider {
      text-align: center;
    }

    /* appearance of slider bar */
    .pagesliders {
      -webkit-appearance: none;
      background: black;
      width: 50%;
      height: 20px;
      opacity: 2;
    }

    /* appearance of the slider thumb thing */
    .pagesliders::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      background: white;
      width: 5%;
      height: 20px;
    }
    /*appearance of the text boxes that comput prints to*/
    .textbox {
      width: 25px;
      height: 15px;
    }

    </style>

  </head>

  <body>

    <!-- adding compute button -->
    <div class = "text-center">
      <button type="button" onclick="slider1Function(); slider2Function()">Compute</button>
    </div>


    <!-- putting slider on the page -->
    <div class="rangeslider">
      <div>
      <input type="range" min="0" max="100" value ="50" class="pagesliders" id="sliderRange1">
      <p>Value: <span id="value1"></span></p>
      </div>
      <input type="text" id="firstVal" style="text-align:center" class = "textbox"><br>
    </div>

    <!-- putting another slider -->
    <div class="rangeslider">
      <div>
      <input type="range" min="0" max="100" value ="50" class="pagesliders" id="sliderRange2">
      <p>Value: <span id="value2"></span></p>
      </div>
      <input type="text" id="secondVal" style="text-align:center" class = "textbox"><br>
    </div>

    <!-- API calls -->
    <div class="text-center">
      <p> Walmart's Open Stock Price of the Day </p>
      <div id="WMTOpen"></div>
      <p> Walmart's High Stock Price of the Day </p>
      <div id="WMTHigh"></div>
      <p> Walmart's Low Stock Price of the day </p>
      <div id="WMTLow"></div>
      <p> Walmart's Current Stock Price </p>
      <div id="WMTCurrent"></div>
      <p> Walmart's Previous Close Stock Price </p>
      <div id="WMTPrevClose"></div>
      <p> Top News Headline </p>
      <div id="NewsHeadline"></div>
    </div>

    <div class="text-center">
      <p style="font-family:Arial; color:blue"> Your random cat picture: </p>
      <img id="cat" src="" alt="Sorry, no picture here" style="width:30%"></img>
    </div>

    <!-- Yusuf's API call for AMZN data in a table -->
    <div>
    <font face="Courier New">
      <table class="center" border="5">
        <tr>
          <th colspan="5">
            <h3><br>Amazon Stock Data</h3>
          </th>
        </tr>

        <th>AMZN Open</th>
        <th>AMZN High</th>
        <th>AMZN Low</th>
        <th>AMZN Current</th>
        <th>AMZN Previous Close</th>

        <tr>
          <td><div id="AMZNOpen"></div></td>
          <td><div id="AMZNHigh"></div></td>
          <td><div id="AMZNLow"></div></td>
          <td><div id="AMZNCurrent"></div></td>
          <td><div id="AMZNPrevClose"></div></td>
        </tr>
      </table>
    </font>
    </div>



    <!-- SCRIPTS IN PYTHON (I THINK) -->

    <!-- script to display value of sliders underneath -->
    <script>
    var rangeslider1 = document.getElementById("sliderRange1");
    var output1 = document.getElementById("value1");
    output1.innerHTML = rangeslider1.value;

    rangeslider1.oninput = function() {
      output1.innerHTML = this.value;
    }
    </script>
    <script>
    var rangeslider2 = document.getElementById("sliderRange2");
    var output2 = document.getElementById("value2");
    output2.innerHTML = rangeslider2.value;

    rangeslider2.oninput = function() {
      output2.innerHTML = this.value;
    }
    </script>

    <!--- the functions for print out slider values to text boxes-->
    <script>
    function slider1Function() {
      document.getElementById("firstVal").value = document.getElementById("sliderRange1").value;
    }
    </script>
    <script>
    function slider2Function() {
      document.getElementById("secondVal").value = document.getElementById("sliderRange2").value;
    }
    </script>


    <!-- API pull code -->
    <script>

      // Arash's Walmart API pulls
      fetch("https://finnhub.io/api/v1/quote?symbol=WMT&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("WMTOpen").innerHTML = data.o;
      })
      fetch("https://finnhub.io/api/v1/quote?symbol=WMT&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("WMTHigh").innerHTML = data.h;
      })
      fetch("https://finnhub.io/api/v1/quote?symbol=WMT&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("WMTLow").innerHTML = data.l;
      })
      fetch("https://finnhub.io/api/v1/quote?symbol=WMT&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("WMTCurrent").innerHTML = data.o;
      })
      fetch("https://finnhub.io/api/v1/quote?symbol=WMT&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("WMTPrevClose").innerHTML = data.pc;
      })


      // Zoe's Headline code
      fetch("c").then(r => r.json()).then(data => {
        document.getElementById("NewsHeadline").innerHTML = data[0].headline;
      }, r => {document.getElementById("NewsHeadline").innerHTML = "API fetch failed"})


      // Hongze's cat API
      fetch("https://aws.random.cat/meow").then(
        r => r.json()).then(r => {document.getElementById("cat").src = r.file})//{document.getElementById("numFact").innerHTML = r})


      // Yusuf's AMZN API pulls
      fetch("https://finnhub.io/api/v1/quote?symbol=AMZN&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("AMZNOpen").innerHTML = data.o;
      })
      fetch("https://finnhub.io/api/v1/quote?symbol=AMZN&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("AMZNHigh").innerHTML = data.h;
      })
      fetch("https://finnhub.io/api/v1/quote?symbol=AMZN&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("AMZNLow").innerHTML = data.l;
      })
      fetch("https://finnhub.io/api/v1/quote?symbol=AMZN&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("AMZNCurrent").innerHTML = data.o;
      })
      fetch("https://finnhub.io/api/v1/quote?symbol=AMZN&token=btnr6jn48v6p0j27hpd0").then(r => r.json()).then(data => {
        document.getElementById("AMZNPrevClose").innerHTML = data.pc;
      })

    </script>

 </body>

</html>
