<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">

    <!-- page title -->
    <div style="text-align: center">
      <h1>Stock Finder</h1>
    </div>

    <style>

    /* page background */
    body {
      background-color: lightgrey
    }

    /* center aligning the header */
    .text-center {
  	   text-align: center;
    }

    /* creating a slider class, need to center*/
    .rangeslider {
      width: 50%;
      margin-top: 20px;
    }

    /* appearance of slider bar */
    .pagesliders {
      -webkit-appearance: none;
      background: orange;
      width: 50%;
      height: 20px;
      opacity: 2;
    }

    /* appearance of the slider thumb thing */
    .pagesliders::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      background: #000000;
      width: 5%;
      height: 20px;
    }

    </style>

  </head>

  <body>

    <!-- adding compute button -->
    <div class = "text-center">
      <button type="button" onclick="getCurrentTime()">Compute</button>
    </div>

    <!-- script for compute button to return current time -->
    <script>
    function getCurrentTime() {
      alert(new Date());
    }
    </script>

    <!-- putting slider on the page -->
    <div class="rangeslider" style="align = center;">
      <input type="range" min="0" max="100" value ="50" class="pagesliders" id="sliderRange">
      <p>Value: <span id="demo"></span></p>
    </div>

    <!-- script to display value of slider underneath -->
    <script>
    var rangeslider = document.getElementById("sliderRange");
    var output = document.getElementById("demo");
    output.innerHTML = rangeslider.value;

    rangeslider.oninput = function() {
      output.innerHTML = this.value;
    }
    </script>


  </body>

</html>
