<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <h1>Stock Finder</h1>
    <style>
    body {
      background-color: lightgrey
    }
    </style>
  </head>
  <body>
    <div text-align: center;>
      <button type="button">Compute</button>
    </div>
  </body>
</html>
