<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta charset="utf-8">
  <style>
    body {
      background-image: url(https://i.pinimg.com/originals/89/e3/7d/89e37d9611818e81f65d368d0350e5c7.jpg);
      background-size: cover;
    }
  </style>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div style="text-align: center;">
    <h2>yusuf test</h2>
  </div>
    

</body>

















</html>
