<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
    body {
      background-image: url(https://i.pinimg.com/originals/89/e3/7d/89e37d9611818e81f65d368d0350e5c7.jpg);
      background-size: cover;
    }
    </style>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div style="text-align: center;">
    <h2>hi ipp</h2>
    <div id="variable_here"></div>
  </div>

  <script>
    var i = 0;
    setInterval(() => {
      console.log(i);
      document.getElementById("variable_here").innerHTML = i;
      i++;
    }, 1000);

  </script>

</body>
</html>
